{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 mb-3">
            <p class="h1 display-4">Shirt Designs</p>
            <div class="card-columns">
                {% for design in shirts %}
                    <div class="card">
                        <a href="#" data-featherlight="{{ vich_uploader_asset(design) }}"><img class="img-fluid card-img-top" src="{{ vich_uploader_asset(design) }}" alt="{{ design.imageName }}" /></a>
                        <div class="card-body">
                            <h4 class="card-title">{{design.name}}</h4>
                            <p class="card-text">{{design.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 mb-3">
            <p class="h1 display-4">Cap Designs</p>
            <div class="card-deck">
                {% for design in caps %}
                    <div class="card">
                        <a href="#" data-featherlight="{{ vich_uploader_asset(design) }}"><img class="img-fluid card-img-top" src="{{ vich_uploader_asset(design) }}" alt="{{ design.imageName }}" /></a>
                        <div class="card-body">
                            <h4 class="card-title">{{design.name}}</h4>
                            <p class="card-text">{{design.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
