{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <section class="row">
        <div class="col-xs-12 mb-3">
            <p class="h1 display-4">Shirt Designs</p>
            <div class="card-columns card-designs-main">
                {% for design in shirts %}
                    <div class="card">
                        <a href="#" data-featherlight="{{ cloudinary_url(design.imageName) }}"><img class="img-fluid card-img-top" src="{{ cloudinary_url(design.imageName) }}" alt="{{ design.imageName }}" /></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="{{path('design_show',{'id':design.id})}}">{{design.name}}</a></h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 mb-3">
            <p class="h1 display-4">Cap Designs</p>
            <div class="card-deck">
                {% for design in caps %}
                    <div class="card">
                        <a href="#" data-featherlight="{{ cloudinary_url(design.imageName) }}"><img class="img-fluid card-img-top" src="{{ cloudinary_url(design.imageName) }}" alt="{{ design.imageName }}" /></a>
                        <div class="card-body">
                            <h4 class="card-title">{{design.name}}</h4>
                            <p class="card-text">{{design.description}}</p>
                            <a class="btn btn-info" href="{{path('design_show',{'id':design.id})}}">view details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
