<div class="fixed-top bg-none" id="menu-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-none container">
        <a class="navbar-brand" href="{{path('home')}}"><img id="menu-nav-logo" src="{{asset('images/logo - 100x100.png')}}" style="max-width: 75px;" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            {{ knp_menu_render('main', {
                'currentClass': 'active',
                'ancestorClass': 'active',
                'parentClass': 'active',
            })}}
            {# {% set adminUrl = ea_url()
                .setController('App\\Controller\\Admin\\PlantAssetCrudController')
            %} #}
            {# <a class="btn btn-dark nav-link" href="{{'#'}}">Admin</a> #}
            {{ knp_menu_render('shortcuts', {
                'currentClass': 'active',
                'ancestorClass': 'active',
                'parentClass': 'active',
            })}}
            {# <a class="btn btn-danger nav-link" href="{{path('app_logout')}}">Sign Out</a> #}
        </div>
        <nav class="nav justify-content-end">
            {% if app.user %}
                <a class="nav-link text-light" href="{{path('home')}}">Hi {{app.user}}!</a>
                <a class="nav-link btn btn-sm btn-danger" href="{{path('app_logout')}}">Logout</a>
            {% else %}
                <a class="nav-link btn btn-sm btn-success" href="{{path('app_login')}}">Login</a>
            {% endif %}
        </nav>
    </nav>
</div>