{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1 class="text-info mb-3">Customers</h1>

    <table class="table table-sm small">
        <thead>
            <tr>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Location</th>
                <th>Orders</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customer_show', {'id': customer.id}) }}">{{ customer.fullName }}</a></td>
                <td>{{ customer.phoneNumber }}</td>
                <td>{{ customer.location }}</td>
                <td><a href="{{ path('customer_show', {'id': customer.id}) }}">{{ customer.customerOrders.count }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-dark" href="{{ path('customer_new') }}">Create new</a>
{% endblock %}
