{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1 class="h1 text-info mb-3">Add new Customer</h1>
    {# <div class="text-info" data-controller="hello">
        <button data-action="click->hello#connect">Greet</button>
    </div> #}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.fullName) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.location) }}
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-12">
                    <h3>Orders<span class="float-right"><button type="button" class="add_order_link btn btn-info btn-sm small" data-collection-holder-class="orders">add new order</button></span></h3>
                </div>
            </div>
            <ul class="orders list-group" data-prototype="{{form_widget(form.customerOrders.vars.prototype)|e('html_attr')}}">
                {% for order in form.customerOrders %}
                    <li>{{form_row(order.color)}}</li>
                    <li>{{form_row(order.design)}}</li>
                    <li>{{form_row(order.color)}}</li>
                    <li>{{form_row(order.orientation)}}</li>
                    <li>{{form_row(order.itemsize)}}</li>
                    <li>{{form_row(order.description)}}</li>
                {% endfor %}
            </ul>
            
        </div>
        <div class="d-none">{{ form_widget(form.customerOrders) }}</div>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('neworderjs') }}
{% endblock %}