{% extends 'base.html.twig' %}

{% block title %}Design Category{% endblock %}

{% block body %}
    <h1 class="text-info mb-3 display-4">Design Category</h1>
    <a class="btn btn-success btn-sm mb-3" href="{{ path('design_category_new') }}">add new category</a>
    <table class="table table-sm table-striped mb-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Designs</th>
            </tr>
        </thead>
        <tbody>
        {% for design_category in design_categories %}
            <tr>
                <td><a href="{{ path('design_category_show', {'id': design_category.id}) }}">{{ design_category.id }} - {{ design_category.title }}</a></td>
                <td>{{ design_category.description }}</td>
                <td>{{ design_category.designs.count }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
