{% extends 'base.html.twig' %}

{% block title %}Design Category{% endblock %}

{% block body %}
    <h1 class="text-info mb-3">Design Category</h1>

    <table class="table table-sm table-striped mb-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for design_category in design_categories %}
            <tr>
                <td>{{ design_category.id }}</td>
                <td>{{ design_category.title }}</td>
                <td>{{ design_category.description }}</td>
                <td>
                    <a href="{{ path('design_category_show', {'id': design_category.id}) }}">show</a>
                    <a href="{{ path('design_category_edit', {'id': design_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark btn-sm" href="{{ path('design_category_new') }}">Create new</a>
{% endblock %}
