{% extends 'base.html.twig' %}

{% block title %}Customer Order{% endblock %}

{% block body %}
    <h1 class="text-info mb-3 display-4"><a href="{{path('customer_show',{'id': customer_order.customer ? customer_order.customer.id : 1})}}">{{customer_order.customer ? customer_order.customer.fullName}}</a></h1>
    <p class="small text-muted mb-3">Phone: {{customer_order.customer ? customer_order.customer.phoneNumber}}</p>
    {# {% if is_granted('ROLE_ADMIN') %}     #}
    <div class="btn-group mb-3">
        <a class="btn btn-sm btn-secondary" href="{{ path('customer_order_index') }}">back to list</a>
        <a class="btn btn-sm btn-warning" href="{{ path('customer_order_edit', {'id': customer_order.id}) }}">edit</a>
        {{ include('customer_order/_delete_form.html.twig') }}
    </div>
    {# {% endif %} #}
    <div class="row mb-3">
        <div class="col-4">
            <h1>Designs <span class="badge badge-primary">{{ customer_order.designs.count }}</span></h1>
            <div class="list-inline">
                {% for design in customer_order.designs %}
                    <a href="#" data-featherlight="img#{{design.imageName}}"><img id="{{design.imageName}}" style="max-width: 100px;" src="{{ cloudinary_url(design.imageName) }}" alt="{{ design.imageName }}" /></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <table class="table table-sm table-striped small">
                <tbody>
                    <tr>
                        <th>Status</th>
                        <td>
                            {% include "customer_order/snippets/orderstatus.html.twig" %}
                        </td>
                    </tr>
                    <tr>
                        <th>Order details/description</th>
                        <td>{{customer_order.description}}</td>
                    </tr>
                    <tr>
                        <th>Item Color</th>
                        <td>{{customer_order.color}}</td>
                    </tr>
                    <tr>
                        <th>Orientation</th>
                        <td>{{customer_order.orientation}}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{customer_order.itemsize}}</td>
                    </tr>
                    <tr>
                        <th>Date Ordered</th>
                        <td>{{customer_order.dateordered|date('F j Y')}}</td>
                    </tr>
                    <tr>
                        <th>Designed</th>
                        <td>{{customer_order.designed ? 'Yes' : 'No'}}
                            {% if customer_order.imageName %}
                                <img style="max-width: 100%;" src="{{ cloudinary_url(customer_order.imageName) }}" alt="" />
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Printed</th>
                        <td>{{customer_order.printed ? 'Yes' : 'No'}} <span class="float-right">Date: {{customer_order.dateprinted|date('F j Y')}}</span></td>
                    </tr>
                    <tr>
                        <th>Paid</th>
                        <td>{{customer_order.paid ? 'K' ~ customer_order.price}}</td>
                    </tr>
                    <tr>
                        <th>Delivery location</th>
                        <td>{{customer_order.deliveryLocation}} <span class="float-right">Date: {{customer_order.datedelivered|date('F j Y')}}</span></td>
                    </tr>
                    <tr>
                        <th>Filename</th>
                        <td>{{customer_order.customer ? customer_order.customer.fullName|replace({" ":"_"})}}-{{customer_order.color}}-{{customer_order.orientation}}-{{customer_order.itemsize}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
