{% extends 'base.html.twig' %}

{% block title %}Designs{% endblock %}

{% block body %}
    <h1 class="text-info mb-3">Designs</h1>

    <table class="table table-sm small table-striped mb-3">
        <thead>
            <tr>
                <th>Sample</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for design in designs %}
            <tr>
                <td>
                    <a href="#" data-featherlight="{{ vich_uploader_asset(design) }}"><img style="max-width: 100px;" src="{{ vich_uploader_asset(design) }}" alt="{{ design.imageName }}" /></a>
                </td>
                <td><a href="{{path('design_show', {'id': design.id})}}">{{ design.name }}</a></td>
                <td>{{ design.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark btn-sm" href="{{ path('design_new') }}">Create new</a>
{% endblock %}
