{% extends 'base.html.twig' %}

{% block title %}Design{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4 featured-image">
            <a href="#" data-featherlight="{{ vich_uploader_asset(design) }}"><img class="img-fluid card-img-top" src="{{ vich_uploader_asset(design) }}" alt="{{ design.imageName }}" /></a>
        </div>
        <div class="col-8 content">
            <h1 class="text-info mb-3 display-4">{{design.name}}</h1>
            <p>{{ design.description }}</p>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('design_index') }}">back to list</a>
        <a href="{{ path('design_edit', {'id': design.id}) }}">edit</a>
        {{ include('design/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
